{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview_enva/course-list

    This template renders the list of courses

    Example context (json):
    {
        "courses": [
            {
                 "fullname": "My test course fullname",
                 "summary": "Sumary text goes here...",
                 "viewurl": "http://xxx/course/view.php?id=courseid"
                 "progress": 60,
                 "hasstarted": true,
                 "tobereviewed": true,
                 "score": 0.4,
                 "visible": true,
                 "icon": pix icon for the course (deduced from the course tag)
            },
            {
                 "fullname": "My test course fullname 2",
                 "summary": "Sumary text goes here...",
                 "viewurl": "http://xxx/course/view.php?id=courseid",
                 "progress": 60,
                 "hasstarted": true,
                 "tobereviewed": false,
                 "score": 1,
                 "visible": true,
                 "icon": pix icon for the course (deduced from the course tag)
            }
        ]
    }
}}
<div id="block-myoverview-enva-{{uniqid}}" class="block-myoverview-enva" data-region="myoverview-enva">
    <ul class="hexagonal-grid">
        {{#courses}}
            <li class="hexagon"
                id="course-info-exa-{{id}}" data-score="{{ score }}">
                <a href="{{viewurl}}" class="{{^visible}}dimmed{{/visible}}">
                    <div class="hexagon {{#completed}} completed{{/completed}}">

                        {{#icon}}
                            <img {{#attributes}}{{name}}="{{value}}"{{/attributes}} class="{{extraclasses}}"/>
                        {{/icon}}

                        {{#tobereviewed}}
                            <div class="reviewicon">
                            </div>
                        {{/tobereviewed}}
                        <div class="hexagon-progress" style="width:{{progress}}%"></div>
                        <span class="title">{{{fullname}}}</span>
                        <p class="text-muted summary">
                            {{#shortentext}} 100, {{summary}}{{/shortentext}}
                        </p>
                        <div class="progress-display">
                            {{#str}}progressmessage, block_myoverview_enva, {{progress}} {{/str}}</div>
                    </div>
                </a>
            </li>
        {{/courses}}
    </ul>
</div>