{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/progress-bar

    This template renders a flat progress bar

    Example context (json):
    {
        "progress": "60"
    }
}}

<div class="row-fluid rtl-compatible course-progressbar">
    <div class="span8 offset2">
        <div class="progress">
            <div class="bar" style="width: {{progress}}%;"
                 role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0"
                 aria-valuemax="100">
                {{progress}}%
            </div>
        </div>
    </div>
</div>
